commands:
 copy_my_ssh_key:
  command: echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC9BKk5TpaaDFRbl0IcWfr/K0QcySZYkTge+al5OouOLlEySvsCAfszQGCOR/XuX2502emjGLmShBemw2OKaajHQrh0ClX5XonLAIHTYpe0AkM9KYNOdQ+UdDOPIS4zgGuQNxqy9ldwaKfCiru1bL2OmRh8FObLcxj3RtOEV8Engc5+PXPsasDegIwIlzGEYik9npG8uy2vcsBm0ZkZxNBv2p4Yql9dQf+6L6QEhgz93SHeys5f8TTNgZ5s4h3ZVCWgD7w8zjQplPNCWeeLXLaGuGD889E/eY5XFRf1V6TWWa9HWk3jPHfC7dnL/Pj156ltBSscvHe0UTooE+tq5vAt rondineli@rondineli" > /home/ec2-user/.ssh/authorized_keys
