# Nginx configuration files
container_commands:
  00_nginx-x-frame-options:
    command: STRING="    add_header X-Frame-Options SAMEORIGIN;";if grep -Fxq "${STRING}" /etc/nginx/nginx.conf; then echo "OK"; else sed -i "/http {/a\\$STRING" /etc/nginx/nginx.conf; fi;


files:
  "/etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |

        server {
            listen 80;

            access_log /var/log/nginx/access.log;

            client_max_body_size 10M;

            location / {
                proxy_connect_timeout       300;
                proxy_send_timeout          300;
                proxy_read_timeout          300;
                send_timeout                300;
                proxy_pass          http://docker;
                proxy_http_version  1.1;
            }
        }

        gzip on;
        gzip_http_version 1.1;
        gzip_vary on;
        gzip_comp_level 6;
        gzip_proxied any;
        gzip_types application/javascript text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
        gzip_buffers 16 8k;
        gzip_disable "MSIE [1-6].(?!.*SV1)";
        gzip_proxied expired no-cache no-store private auth;
